!!!
%html
  %head
    %title Batalla Naval - Partida
    %meta{:charset => "UTF-8"}
    %link{:href => "/vendor/bootstrap/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/vendor/bootstrap/css/bootstrap-theme.css", :rel => "stylesheet"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %script{:tipe=> "text/javascript"}
  %body
    .container
      .row
        .col-md-6
          %h1 Batalla Naval
        .col-md-6
          %br
          %a.btn.btn-primary.btn-lg.pull-right{:href => "/singoff"}
            Cerrar Sesi&oacute;n
          .pull-right
            &nbsp;&nbsp;
          %a.btn.btn-primary.btn-lg.pull-right{:href => "/home"}
            Inicio
      .row
        .text-primary.page-header
          %h2 Verifique los datos de la partida :  
          %h3 Rival: #{@idplayer2}  
          %h3 Tamaño de tablero : #{@tab} x #{@tab}
          %h3 Ubicacion de barcos: 
          %form{:action => "/players/game", :method => "POST"}
            %table.table.table-bordered.table-hover.table-striped
              - @nums.each do |i|
                %tr
                - @letras.each do |j|
                  - if i == nil && j == nil
                    %th
                  - else
                    - if j == nil && i != nil
                      %th.info
                        #{i}
                    - else 
                      - if j != nil && i == nil 
                        %th.info
                          #{j}
                      - else
                        %td
                          - var = 0 
                          - @res.each do |c|
                            - if c == "#{j}#{i}"
                              %input.checkbox{:type => "checkbox", :name => "check[#{j}#{i}]", :disabled => "true", :checked => "true"}
                              - var = 1		
                          - if var == 0
                            %input.checkbox{:type => "checkbox", :name => "check[#{j}#{i}]", :disabled => "true"}
                          %input{:type => "hidden", :name => "ubicaciones"  ,:value =>@todos }
                          %input{:type => "hidden", :name => "idpart"  ,:value =>@idpart }	
                          %input{:type => "hidden", :name => "_method"  ,:value =>"put" }	
            %input.btn.btn-primary.btn-lg{:type => "submit", :value => "Confirmar"}
        %input.btn.btn-primary.btn-lg{:type => "submit", :value => "Cancelar", :onClick => "Javascript:history.back(1)" }
    %br